* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

header {
    padding: 15px;
    background-color: #0084fd;
    color: #fff;
}

footer {
    background-color: #333333;
}

.container,
.container-header {
    margin: 0 auto;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

.s-btw {
    justify-content: space-between;
}

.j-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.col-100,
.col-60,
.col-66,
.col-50,
.col-33,
.col-40 {
    width: 100%;
}

.col-50-header {
    width: calc(100%/2);
}

.content {
    margin: 10px 30px;
    padding: 15px;
    border-radius: 30px;
}

.p-0 {
    padding: 0;
}


.f-c-white {
    color: #fff;
}

.bg-violet {
    background-color: #9792e4;
}

.bg-light_blue {
    background-color: #b5ddff;
}

.bg-white {
    background-color: #fff;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.display-none {
    display: none;
}

ul {
    list-style-type: none;
}

.display-i_b li {
    display: inline-block;
    margin: 0 10px;
}

.display-i_b li button {
    color: black;
    background-color: #fff;
    border-radius: 30px;
    padding: 5px 10px;
}

.width-60 {
    max-width: 60%;
}

.width-100 {
    max-width: 100%;
}


.button-store {
    color: #fff;
    background-color: #0084fd;
    padding: 10px 60px;
    border-radius: 30px;
    letter-spacing: 2px;
}

.button-benefits {
    color: #fff;
    background-color: #9792e4;
    padding: 10px 50px;
    border-radius: 30px;
    letter-spacing: 2px;
}

.button-about {
    color: #fff;
    background-color: #9792e4;
    padding: 10px 25px;
    border-radius: 30px;
}

.button-started {

    color: #9792e4;
    background-color: #fff;
    padding: 20px 100px;
    border-radius: 30px;
    letter-spacing: 2px;
    font-weight: 900;
}

h3,
p,
button {
    margin: 20px 0;
}

button {
    border: none;
}

.p-b-0 {
    padding-bottom: 0;
}

.p-25-0 {
    padding: 25px 0;
}


.content.bg-light_blue h3 {
    color: #0084fd;
}

.content.bg-white.text-center>p {
    font-style: italic;
}


.little-circle {
    width: 50px;
    height: 50px;
    background-color: #9792e4;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.col-33 i {
    font-size: 100px;
    color: #0084fd;
}

.f-c-violet {
    color: #9792e4;
}

.f-size-50 {
    font-size: 50px;
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
    right: 0;
    top: 0;
}


.f-c-yellow {
    color: #fdc15f;
}

a,
a:active {
    color: white;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.circle.m-0 {
    margin: 0;
}

.circle.about {
    background-image: url(../img/about.jpg);
}

.circle.test-1 {
    background-image: url(../img/testimonial1.jpg);
}

.circle.test-2 {
    background-image: url(../img/testimonial2.jpg);
}

.circle.test-3 {
    background-image: url(../img/testimonial3.jpg);
}

.p-t-100 {
    margin-top: 100px;
}


@media screen and (min-width: 481px) {
    .container {
        margin: 0 auto;
        width: 100%;
    }

    .content {
        margin: 5px 10px;
    }

    .col-100 {
        width: 100%;
    }

    .col-60 {
        width: 60%;
    }

    .col-66 {
        width: calc(100%/3*2);
    }


    .col-33 {
        width: calc(100%/3);
    }

    .col-33.col-50 {
        width: calc(100%/2);
    }

    .col-40 {
        width: 40%;
    }

    .circle.test-1,
    .circle.test-2,
    .circle.test-3 {
        float: left;
    }

    .circle.m-0.img-center {
        margin: 0 auto;
    }

}

@media screen and (min-width: 769px) {

    .container,
    .container-header {
        max-width: 1200px;
        margin: 0 auto;
    }

    .container-900 {
        max-width: 900px;
        margin: 0 auto;
    }

    .display-none {
        display: block;
    }

    .display-block {
        display: none;
    }

    .content {
        margin: 5px 10px;
    }

    .col-50 {
        width: 50%;
    }

    .col-66-2 {
        width: calc(100%/2);
        max-height: 250px
    }

    .min-height-400 {
        min-height: 400px;
    }

    .min-h-160 {
        min-height: 160px;
    }

    .max-500 {
        max-width: 500px;
        margin: 0 auto;
    }

    .scaled {
        transform: scale(0.8);
    }

    .width-100.img-resize {
        max-width: 266px
    }

    /* BONUS */
    .fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .m-t-100 {
        margin-top: 100px;
    }


}

/* BONUS */

.bonus {
    display: none;
    position: absolute;
}

ul li:hover .bonus {
    display: block;
}

.bonus li {
    background: #0084fd;
    display: block;
    cursor: pointer;
    padding: 15px 0;
    margin: 0;
    width: 150px;
}

.bonus li:hover {
    background-color: #b5ddff;
}


ul .hamb-menu:hover .bonus {
    display: block;
}

.bonus.pos-right {
    right: 0;
}

.hamb-menu .bonus li {
    padding-right: 10px;
}