* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

header {
    padding: 15px;
    background-color: #0084fd;
    color: #fff;
}

footer {
    background-color: #333333;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.s-btw {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.col-100,
.col-70,
.col-66,
.col-50,
.col-33,
.col-30 {
    width: 100%;
}

.col-50-header {
    width: calc(100%/2);
}

.content {
    margin: 10px 30px;
    padding: 30px;
    border-radius: 30px;
}

.p-0 {
    padding: 0;
}


.f-c-white {
    color: #fff;
}

.bg-violet {
    background-color: #9792e4;
}

.bg-light_blue {
    background-color: #b5ddff;
}

.bg-white {
    background-color: #fff;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.display-none {
    display: none;
}

ul {
    list-style-type: none;
}

.display-i_b li {
    display: inline-block;
    margin: 0 10px;
}

.display-i_b li button {
    color: black;
    background-color: #fff;
    border-radius: 30px;
    padding: 5px 10px;
}

.width-100 {
    width: 100%;
}

.button-store {
    color: #fff;
    background-color: #0084fd;
    padding: 10px 60px;
    border-radius: 30px;
    letter-spacing: 2px;
}

.button-benefits {
    color: #fff;
    background-color: #9792e4;
    padding: 10px 50px;
    border-radius: 30px;
    letter-spacing: 2px;
}

.button-about {
    color: #fff;
    background-color: #9792e4;
    padding: 10px 25px;
    border-radius: 30px;
}

.button-started {

    color: #9792e4;
    background-color: #fff;
    padding: 20px 100px;
    border-radius: 30px;
    letter-spacing: 2px;
    font-weight: 900;
}

h3,
p,
button {
    margin: 20px 0;
}

button {
    border: none;
}

.p-b-0 {
    padding-bottom: 0;
}

.p-25-0 {
    padding: 25px 0;
}

.content.bg-light_blue h3 {
    color: #0084fd;
}

.content.bg-white.text-center>p {
    font-style: italic;
}


.little-circle {
    width: 50px;
    height: 50px;
    background-color: #9792e4;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.col-33 i {
    font-size: 100px;
    color: #0084fd;
}

.f-c-violet {
    color: #9792e4;
}

/* .avatar {
    max-width: 60%;
    border-radius: 50%;
} */

.f-size-50 {
    font-size: 50px;
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
    right: 2px;
    top: 0;
}


.f-c-yellow {
    color: #fdc15f;
}

a,
a:active {
    color: white;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.circle.m-0 {
    margin: 0;
}

.circle.about {
    background-image: url(../img/about.jpg);
}

.circle.test-1 {
    background-image: url(../img/testimonial1.jpg);
}

.circle.test-2 {
    background-image: url(../img/testimonial2.jpg);
}

.circle.test-3 {
    background-image: url(../img/testimonial3.jpg);
}

.p-t-100 {
    margin-top: 100px;
}

@media screen and (min-width: 481px) {
    .container {
        margin: 0 auto;
        max-width: 768px;
    }

    .col-100 {
        width: 100%;
    }

    .col-70 {
        width: 70%;
    }

    .col-66 {
        width: calc(100%/3*2);
    }

    .col-33 {
        width: calc(100%/3);
    }

    .col-33.col-50 {
        width: calc(100%/2);
    }

    .col-30 {
        width: 30%;
    }

    .circle.test-1,
    .circle.test-2,
    .circle.test-3 {
        float: left;
    }

    .content {
        padding: 20px;
    }
}